// Display 
	.none{ display: none !important; }
	.iblock{ display: inline-block !important; }

// Position
	.posAbs { position: absolute; }
	.posRel { position: relative; }

// Z-index 
	.zit { z-index: 10000; }

// Images
	img{ border: 0; outline: none; text-indent: -9999em; }