/** Carousel Wrapper **/
.carousel-wrapper, .carousel-wrapper-large { position: relative; }

	.carousel-wrapper .photo-credits, .carousel-wrapper-large .photo-credits {
	    position: absolute;
	    right: 15px;
	    bottom: 0;
	    font-size: 13px;
	    color: #fff;
	    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
	    opacity: .66; }

		.carousel-wrapper .photo-credits a, .carousel-wrapper-large .photo-credits a { color: #fff; }

/** Carousel **/
.carousel {
    position: relative;
    overflow: hidden; }

    .carousel ul {
	    width: 20000em;
	    position: absolute;
	    list-style: none;
	    margin: 0;
	    padding: 0; }

		.carousel li {
			margin:0;
		    float: left; }

	.carousel .carousel-control-prev:hover span,
	.carousel .carousel-control-next:hover span {
	    display: block; }

/** Small Carousel **/
.carousel-wrapper .carousel {
    width: 1130px;
    height: 800px; }

	.carousel-wrapper .carousel-control-prev,
	.carousel-wrapper .carousel-control-next {
	    position: absolute;
	    top: 75px;
	   	text-align: center;
	    background: transparent url(../../img/sprites/global/bg_gray-dark.png);
	    color: #fff;
	    text-decoration: none;
	    text-shadow: 0 0 1px #000;
	    font: 24px/27px;
	}

	.carousel-wrapper .carousel-control-prev { 
		left: 0;
		-webkit-border-radius: 0 10px 10px 0;
	       -moz-border-radius: 0 10px 10px 0;
	            border-radius: 0 10px 10px 0; }

	.carousel-wrapper .carousel-control-next { 
		right: 0;
		-webkit-border-radius: 10px 0 0 10px;
	       -moz-border-radius: 10px 0 0 10px;
	            border-radius: 10px 0 0 10px; }